.sticky {
    background-color: #fffffff6;
    position: fixed;
    width: 100%;
    top: 0;
    /* left: 0; */
    margin-top: -30px;
}

* {
    /* font-family: Arial,Helvetica,sans-serif; */
    font-family: Futura-Medium, Century Gothic, Gill Sans, Helvetica, Arial, sans-serif;
    letter-spacing: .8px;
}

.header-container {
    margin-top: 10px;
    display: flex;
    /* border: 1px solid red; */
    justify-content: space-between;
    align-items: center;
    padding: 6px 30px 10px 30px;
}

.right-head {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    width: 40%;
    font-weight: bold;
    font-size: 11px;
    text-decoration: none;
    color: #757575;
    font-family: Arial, Helvetica, sans-serif;
}

.right-head a,
.right-head p {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(110, 110, 110);
    font-weight: 700;
    font-size: 11px;

}

.left-head {
    width: 21%;
    display: flex;
    padding-bottom: 15px;
    /* border: 1px solid red; */
}

.left-head a,
.right-head p,
.right-head>a {
    margin: auto;
}

.left-head a {
    text-decoration: none;
    color: rgb(29, 29, 29);
    font-size: 13px;
}

.parent {
    display: flex;
    justify-content: center;
    /* border: 1px solid red; */
    margin-top: 40px;
}

.logo {
    width: 23%;
    /* border: 1px solid red; */
    margin-left: 450px;
}

.logo img {
    width: 100%;
}

.bag {
    display: flex;
    align-items: flex-end;
    /* border:1px solid red; */
    margin-left: 300px;
    padding-bottom: 5px;
    padding-right: 25px;
}

.bag img {
    width: 32px;
    margin-left: 10px;
}

.bag a {
    text-decoration: none;
    color: rgb(29, 29, 29);
    font-size: 13px;
}

.navbar {
    display: flex;
    font-size: 13px;
    /* border: 1px solid red; */
    padding: 5px 25px 0px 25px;
    margin-top: 40px;
    justify-content: space-between;
    /* align-content: center; */
}

.options {
    display: flex;

}

.options a {
    text-decoration: none;
    color: #757575;
    margin-left: 15px;
    /* margin-bottom: -5px; */
}

.wish:hover {
    color: black
}

hr {
    width: 100%;
    border-top: 1px solid rgb(226, 226, 226);
    border-bottom: 0px;

}

body {
    margin: 0px;
    padding: 0px;
}

.search,
.icon {
    display: block;
    padding: 5px;
}

.icon {
    border: 0px;
    width: 230px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.icon:focus {
    outline: none;
}

.input {
    display: flex;
    border: 1px solid #cfcfcf;
    width: 230px;
    justify-content: space-between;
    margin-right: 20px;
}

.sale {
    text-align: center;
    font-size: 14px;
    color: #ed0000 !important;
}

.f1,
.f2 {
    width: 80%;
    margin: auto;
    padding-top: 15px;
}

.h1 {
    font-weight: lighter;
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
}

.p {
    font-size: 12px;
    line-height: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}

.f2 {
    display: flex;
}

.right {
    text-align: justify;
}

.playstore {
    margin: auto;
    border-bottom: 1px solid rgb(226, 226, 226);
    padding: 10px;
}

.playstore>div {
    display: flex;
    /* border:1px solid red; */
    width: 20%;
    margin: auto;
    padding: 10px;

}

.playstore>div>div {
    width: 48%;
    margin: auto;
}

.playstore>div img {
    width: 100%;
}

.last-foot {
    display: flex;
    width: 94%;
    margin: auto;
    border-bottom: 1px solid rgb(226, 226, 226);
}

.block {
    display: inline;
    padding-bottom: 5px;
}

.block+img {
    width: 300px;
}

#payment-images {
    display: flex;
    color: #757575;
    padding-left: 25px;

}

.pm {
    display: flex;
    justify-content: space-between;
    padding: 10px 25px;
}

.sans {
    font-family: sans-serif;
    color: #757575;
    font-size: 15px;
}

.margin1 {
    padding-left: 12px;
}

.last-foot ul {
    list-style: none;
    line-height: 25px;
}

.last-foot ul li {
    font-family: sans-serif;
    text-align: left;
}
#div{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:10px;
    width: 70%;
    margin-left: auto;
    padding-top: 35px;
    padding-right: 85px;
}
.product-page{
    padding: 30px;
}
.sort{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid #d3d3d3;
    margin-top:-30px;
    font-size: 11px;
    color: #757575;
    font-family: Arial,Helvetica,sans-serif;
}
.sort select{
    font-size: 11px;
    color: #757575;
    font-family: Arial,Helvetica,sans-serif;
    border:none;
}

#div div{
    padding:10px;
    text-align: center;
}
.news{
    width: 100%;
    /* border:1px solid red; */
    align-items: center;
}
.news img{
    display: inline-block;
    padding-right: 90px;
}
.news i{
    display: inline-block;
}
.price{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    padding: 0;
    margin: 5px;
}
.name{
    font-family: Futura-Medium,Century Gothic,Gill Sans,Helvetica,Arial,sans-serif;
    font-size: 12px;
    letter-spacing: .4px;
    padding: 0;
    margin: 5px;
}
.desc{
    color: #757575;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    letter-spacing: .8px;
    padding: 0;
    margin: 5px;
}
.btn1{
    border: 0px;
    width: 90px;
    background-color: #fafafa;
    border: 1px solid black;
    margin: auto;
   display: block;
}

.darkbtn{
    background-color: black;
    color: #ffffff;
    margin-top: 5px;
   
}
.cart{
    width: 150px;
    height: 80px;
    background-color: #d1d1d1;
    margin-left: 50px;
    position: absolute;
    margin-top: 200px;
    border: 1px solid black;
    display: none;
}
.main-div:hover .cart{
    display: block;
}